/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/

/* ===== Inicio del nuevo requerimiento para MEDIA QUERIES  =====*/
@media screen and (min-width: 576px){
    .login__forms{
      width: 348px;
      justify-self: center;
    }
  }
  
  @media screen and (min-width: 1024px){
    .login{
      height: 100vh;
      overflow: hidden;
    }
  
    .login__content{
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
      align-items: center;
      margin-left: 10rem;
    }
  
    .login__img{
      display: flex;
      width: 600px;
      height: 588px;
      background-color: var(--first-color-lighten);
      border-radius: 1rem;
      padding-left: 1rem;
    }
  
    .login__img img{
      width: 390px;
      margin-top: 0;
    }
  
    .login__registre, .login__create{
      left: -11rem;
    }
  
    .login__registre{
      bottom: -2rem;
    }
  
    .login__create{
      bottom: -5.5rem;
    }
  }
  /*END del Cambio */